<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="mysqlpath" value="C:\xampp\mysql\bin\mysql.exe"/>
    <add key="mysqlhost" value="localhost"/>
    <add key="mysqluser" value="root"/>
    <add key="mysqlpass" value=""/>
    <add key="mysqldb" value="plnwatch"/>
  </appSettings>
</configuration>
