<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="plnwatchEntities" connectionString="metadata=res://*/PLNWatchMySqlModel.csdl|res://*/PLNWatchMySqlModel.ssdl|res://*/PLNWatchMySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=plnwatch&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>